* {
    margin: 0;
    padding: 0;
}

.center-div
{
  margin: 0 auto;
  text-align: center;
}


@import '../layout/0-bck-img';

@import '../layout/1-logo-styles';

@import '../layout/2-learn-more';

@import '../layout/3-title-text';


