@import '../assets/fonts/font-styles/panton-font';

.learn-more {
    width: 150px;
    height: auto;

    background-color: #33A9F4;
    color: white;
    
    position: absolute;
    top: 0px;
    right: 0px;

    text-align: center;

    padding: 5px 10px;

    margin-right: 25px;
    margin-top: 15px;

    font-family: panton;
    font-size: 18pt;

    border-radius: 15px;
}

