@import './fonts';

.learn-more {
    width: 13%;
    height: auto;

    background-color: #33A9F4;
    color: white;
    
    position: absolute;
    top: 0px;
    right: 0px;

    text-align: center;

    padding: 10px 10px;

    margin-right: 25px;
    margin-top: 15px;

    font-family: panton;
    font-size: 1.5vw;

    border-radius: 15px;
}
